@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .borderr{
    border: 2px solid red;
  }
}
.overscroll-y-contain::-webkit-scrollbar {
  display: none;
}
.overscroll-y-contain {
  overscroll-behavior-y: contain;
}
body {
  overflow: hidden;
}